body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1.2em  Georgia,Times,Times New Roman,serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 1.25em; } 
h2 { font-size: 1.125em; }
h3 { font-size: 1em; } 
h4 { font-size: 0.8em; } 
h5 { font-size: 0.8em; } 
h6 { font-size: .875em; }

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link
{
	color: red;
	text-decoration: none;
}

a:visited { color: maroon; }

a:focus
{
	color: black;
	background-color: white;
}

a:hover
{
	color: white;
	background-color: black;
}

a:active
{
	color: red;
	background-color: black;
}

.container
{
	max-width: 50em;
	margin: 0 auto;
	background-color: #fff;
}

.header
{
	color: #aaa;
	background: #fff;
	padding: 0em 0em;
}

.header-heading { margin: 0; }

.nav-bar
{
	background: #000;
	padding: 0;
}

.content { padding: 1em 1.25em; }

.footer
{
	color: #AAA;
	background: #fff;
	padding: 1em 1.25em;
	text-align: right;

}

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 0em 1em; }
	
	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}